#service {
    .service-1 {
        margin-bottom: 128px;
        .txt {
            font-size: 17px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 32px;
            white-space: pre-line;
        }
        .list {
            line-height: 26px;
            margin-bottom: 0;
        }
        .desc {
            margin-top: 52px;
            padding-bottom: 15px;
            font-size: 17px;
            font-weight: 700;
            line-height: 24px;
        }
        @media (max-width: 767.98px) {
            margin-bottom: 83px;
            .txt {
                margin-bottom: 28px;
            }
            .list {
                margin-bottom: 28px;
            }
        }
    }

    .service-2 {
        .service-2-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 27px;
        }
        .table {
            border-top: 2px solid var(--c-blue-2);
            color: var(--c-main);
            margin-bottom: 0;
            tr {
                td {
                    line-height: 26px;
                    height: 64px;
                    vertical-align: middle;
                    padding: 6px;
                    &:first-child {
                        width: 130px;
                        font-weight: bold;
                    }
                }
            }
        }

        @media (max-width: 767.98px) {
            .table {
                margin-bottom: 0;
                tr {
                    display: grid;
                    grid-template-columns: 1fr;
                    td {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        padding: 0;
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .service-3 {
        padding-top: 75px;
        padding-bottom: 128px;
        .box-top {
            display: grid;
            grid-template-columns: 360px 1fr;
            gap: 46px;
            align-items: flex-end;
            margin-bottom: 50px;

            .img {
                width: 100%;
                height: 200px;
                border-radius: 10px;
                object-fit: cover;
            }

            .left {
                .txt {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                }
            }

            .right {
                .child {
                    display: grid;
                    grid-template-columns: 360px 1fr;
                    gap: 20px;
                    .content {
                        .content-group {
                            margin-bottom: 20px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                            .desc {
                                font-size: 14px;
                                line-height: 26px;
                                &:first-child {
                                    font-weight: 700;
                                }
                                &:nth-child(2) {
                                    width: 342px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .box-bottom {
            display: grid;
            grid-template-columns: 360px 360px 1fr;
            gap: 46px;
            align-items: flex-end;

            .img {
                width: 100%;
                height: 200px;
                border-radius: 10px;
                object-fit: cover;
            }

            .txt {
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
            }
        }
        
        @media (max-width: 767.98px) {
            padding: 47px 32px 77px;
            .box-top {
                // grid-template-columns: 1fr;
                margin-bottom: 40px;
                gap: 20px;
                display: flex;
                flex-direction: column;
                grid-template-columns: unset;
    
                .left {
                    .txt {
                        font-size: 18px;
                    }
                }
    
                .right {
                    width: 100%;
                    .child {
                        display: flex;
                        flex-direction: column;
                        grid-template-columns: unset;
                        gap: 17px;
                        .content {
                            .content-group {
                                margin-bottom: 20px;
    
                                &:last-child {
                                    margin-bottom: 0;
                                }
                                .desc {
                                    font-size: 14px;
                                    line-height: 26px;
                                    &:first-child {
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .box-bottom {
                grid-template-columns: 1fr;
                gap: 40px;

                .txt {
                    font-size: 18px;
                }
            }
        }
        @media (max-width: 400.98px) {
            .box-top {
                .right {
                    .child {
                        .content {
                            .content-group {
                                .desc {
                                    &:nth-child(2) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .service-4 {
        overflow: hidden;
        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 98px;
        }
        .img {
            width: 100%;
        }
        .box-img {
            background-color: #F5F5F5;
            position: relative;
            .img-1 {
                width: 345px;
                padding-top: 104px;
                padding-bottom: 153px;
            }
            .img-2 {
                position: absolute;
                top: -60px;
                right: 243px;
                width: 427px;
                height: 258px;
                object-fit: cover;
            }
            .img-3 {
                position: absolute;
                top: 198px;
                right: 0;
                width: 553px;
                height: 257px;
                object-fit: cover;
            }
        }
        @media (max-width: 1000.98px) {
            .title {
                margin-bottom: 14px;
            }
            .box-img {
                padding-top: 26px;
                padding-bottom: 35px;
                overflow: hidden;

                .img-1 {
                    width: 216px;
                    padding: 0 0 16px;
                }
                .img-2 {
                    position: unset;
                    width: 225px;
                    height: 136px;
                    display: block;
                    margin-left: auto;
                    margin-right: 128px;
                }
                .img-3 {
                    position: unset;
                    width: 292px;
                    height: 135px;
                    margin-left: auto;
                    display: block;
                }
            }
        }
    }

    .service-5 {
        padding: 100px 0 60px;
        .box {
            max-width: 800px;
            margin: 0 auto;
            .title {
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                border-bottom: 2px solid var(--c-blue-2);
                padding: 0 71px 6px;
                margin-bottom: 0;

                span {
                    font-weight: 400;
                    font-size: 16px;
                }
            }
            .desc {
                padding: 12px 71px 0;
                line-height: 26px;
                white-space: pre-line;

                br {
                    display: none;
                }
            }
        }
        @media (max-width: 767.98px) {
            padding-top: 31px;
            padding-bottom: 16px;
            .box {
                .title {
                    padding: 0 0 6px;
                }
                .desc {
                    padding: 12px 0 0;
                }
            }
        }
    }
}